//button
//these are the button styles
//applies to ALL buttons

button
  cursor: pointer

//Use "btn" if you want a button to look like a button. 
//If it should look like a hyperlink than don't use this class.
//if you are using an anchor tag that should look like a button, the "btn" class is designed for this as well.
.btn
  padding: 15px
  text-transform: uppercase
  text-align: center
  border-radius: $borderRadius
  box-shadow: $boxShadow
button
  border: none
a.btn
  color: inherit
  text-decoration: none

//add products
.btn__primary
  color: $blue
  background-color: $white
  font-weight: 600

//save products
.btn__secondary
  color: $white
  background-color: $orange

//qty incrementer buttons
.btn__increment
  background-color: transparent
  color: $blue
  padding: 10px
  border: 2px solid $blue
  border-radius: 25px
  box-shadow: none
  display: flex
  justify-content: center
  align-items: center
  height: 30px
  width: 30px
  line-height: 0
  transition: $transition
  //&:hover
    //color: darken($blue, 10%)
    //border-color: darken($blue, 10%)

//update image
.btn__image-upload
  background-color: $blue
  color: $white
  padding: 5px 20px
  transition: $transition
//   &:hover
//     background-color: darken($blue, 10%)