//Variables...
$white = white
$black = #222222
$blue = #2f9af1
$blue-dark = #21456d
$orange = #f56f00
$gray-dark = #333333
$gray = #888888
$gray-light = #a6b5c3
$gray-lighter = #f2f2f0
$green-light = #d6f09d
$aquaman = #4f7072
$error = red
$sans = "Open Sans", Arial, Helvetica, sans-serif
$serif = Georgia, "Times New Roman", serif
$borderRadius = 3px
$boxShadow = 1px 2px 6px rgba(0, 0, 0, 0.1)
$transition = 0.1s all ease-in-out
$transitionAll = 0.1s ease-in-out all
// $desktop-and-up = screen and (min-width: 1025px)
// $tablet-and-up = screen and (min-width: 768px)
